.section {
    width: 100%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

.loader {
    width: 100%;
    display: inline-block;
    position: relative;
    background: gold;
}

.loader img {
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: opacity .5s linear;
}

.loader.complete img {
    opacity: 1;
}