/* Empty. Add your own CSS if you like */

.section {
    width: 100%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

.image-wrap {
    width: 100%;
    margin: 5px auto;
    border: 2px solid #fff;
    padding: 0;
    position: relative;
    background:gold;
}

.image-wrap>img {
    width: 100%;
    /*position: relative;*/
}


.loader {
    width: 100%;
    margin: 5px auto;
    border: 2px solid #fff;
    padding: 0;
    position: relative;
    background:gold;
}

.loader img {
    opacity: 0;
    width: 100%;
    transition: opacity .5s linear;
}

.loader.complete img {
    opacity: 1;
}


/* image loading */

/*.spinner-hide .loading{*/
    /*visibility: visible;*/
/*}*/
/*.spinner-show .loading{*/
    /*visibility: hidden;*/
/*}*/